*{
    box-sizing: border-box;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    border: 1px solid pink;
    background-color: pink;
}
p {
    font-size: 100px;
    font-weight: bold;
    color:darkmagenta;
}